
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
font-family: 'Josefin Sans', sans-serif;

height: 100vh;
}



h1{
letter-spacing: 14px;
font-size: 38px;
line-height: 1em;
color: cadetblue;
width: 41%; 
padding: 20px;
text-align: center;

}

h2{
    font-size: 15px;
    padding: 10px;
    text-align: center;
}


form{
display: flex;
justify-content: center;
padding-top: 2%;
}

span{
letter-spacing: 9px;
color: rgb(24, 23, 23);
}

.invisible{
display: none;
}

main{
display: flex;
flex-direction: column;
align-items: center;
}
#imgPrincipal{

    width: 100vw;
    height: 12em;
    background-size: cover;
    
}

button{
    border: 0;
    background-color: darksalmon;
    border-radius: 20px;
    width: 55px;
    border-radius: 0px 20px 20px 0px;
    
    
}

button:hover{
    background-color: brown;
    cursor: grab;
}

#arrow{

    padding: 10px;

}

input{
    border: 0;
    background-color: rgb(233, 224, 220);
    width: 18em;
    height: 4em;
    padding-left: 6px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px solid black;

    
}
#logo{
    padding: 30px;
    order: -1;
}

p{
    color:rgb(58, 56, 56);
    line-height: 1.5em;
    text-indent: 10px;
    width: 95vw;
    font-weight: bold;
    
}

footer{
    padding-top: 2px;
}



@media screen and (min-width:768px){
  main{
    display: block;
  }

  form{
    padding-top: 9%;
  }

  #imgPrincipal{
    float: right;
    width:45vw;
    height: 100vh;
    background-image: url(images/imagem2-mobile.jpg);
  }

  footer{

    padding-top: 6em;
 
     
  }


 
}

